<%- include("partials/header") -%>
<h1>HELLO</h1>
<p><%= homeContent  %> </p>
<% poste.forEach( (post)=> { %>
<h1><%= post.titleInput %> </h1>
<p><%= post.bodyInput %> </p>
<% }) %> 
<%- include("partials/footer") -%>